/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body{
    background-color: rgba(255,0,0);
}

.home-container{
    position: relative;
    width: 50%;
    height: 50%;
    top: 10;
    background-image: linear-gradient(to bottom right, #cc2b5e, #753a88);
    left: 25%;
    /* top: 25%; */
    border-radius: 5px;
}

.home-container > h3, h5, label{
    color: white;
    text-align: center;
    /* font-family: 'Bungee Inline', cursive; */
    font-family: 'Abril Fatface', cursive;
}

hr{
    color: white;
    width: 100%;
}